.card {
  background-color: var(--mantine-color-body);
}

.section {
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.label {
  margin-bottom: var(--mantine-spacing-xs);
  line-height: 1;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
  letter-spacing: -0.25px;
  text-transform: uppercase;
}